#scale {
    background-image: linear-gradient(to right,  rgb(119, 150, 253),  rgb(121, 255, 121), rgb(255, 255, 115), rgb(255, 111, 111));
}

input {
    width: 10%;
}

.left {
   float:left;
}
.center {
    text-align: center;
}

.right {
    float:right;
}

#bmi{
    float: left;
}