#chat_log {
    top: 0;
    height: 65%;
    width: 75%;
    overflow-y: scroll;
}

#chat_menu {
    bottom: 0;
    }

#chat_input {
    width: 70%;
}

#chat_buttons{
    float: left;
    width: 10%;
}

#brain{
    width: 90%;
    height: 10%;    
}

#chad {
    margin: auto;
    width: 80%;
}

#chad_img {
    width: 20%;
    position: relative;
    float: right;
    overflow: hidden;
    margin: auto;

#main_screen{
    overflow: hidden;
}
