#chat_log {
    overflow-y: scroll;
    max-height: 30vw;

}

#chat_menu {
    }

#chat_input {
    width: 90%;
}

#chat_buttons{
    width: 10%;
}

#brain{
    width: 90%;
    height: 10%;    
}

#chad {
}

#chad_img {
    width: 20%;

#main_screen{
    display: flex;
    flex-wrap: wrap;
}

