html {
    height: 100%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    margin-left: 5%;
    margin-right: 5%;
    background: url(../img/sunset.jfif) no-repeat center center fixed ;
    height: 78%;
    overflow: hidden;
}

#header{
    background-color: #c8d2d680;    
    font-size: 30px;
    padding: 2%;
    text-align: center;
    transition: 0.5s;
}

#header:hover {
    background-color: #c8d2d6de;
}

#menu{
    font-size: 14px;
    text-align: center;
    background-color: #2b677780;
    width: 20%;
    height: 100%;
    float: left;
    transition: 0.5s;
}

#menu:hover {
    background-color: #2b6777da;
}

.menu_button {
    background-color: #52ab9888;
    font-size: large;
    width: 100%;
    height: 48px;
    border-radius: 15%;
    margin-bottom: 8px;
    transition: 0.5s;
}

button:hover {
    background-color: #52ab98e1;
}

#main_screen {
    margin: 0;
    float: left;
    width: 80%;
    background-color: #c8d8e483;
    height: 100%;
    width: 80%;
    transition: 0.5s;
}
#main_screen:hover {
    background-color: #c8d8e4de;
}

:hover {
    transition: 0.5s;
}