html {
    height: 100%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    margin-left: 5%;
    margin-right: 5%;
    background: url(../img/sunset.jfif) no-repeat center center fixed ;
    height: 78%;
    overflow: hidden;
}

#header{
    background-color: #c8d2d680;    
    font-size: 30px;
    padding: 2%;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px 60px 0px 0px;
}



#menu{
    font-size: 14px;
    text-align: center;
    background: linear-gradient(70deg, rgba(43, 103, 119, 0.575) 0%, #c8d8e48c 80%);
    width: 20%;
    height: 100%;
    float: left;
    transition: 0.5s;
    border-radius: 0px 0px 0px 60px;
}



.menu_button {
    background-color: #52ab983a;
    font-size: large;
    width: 100%;
    height: 48px;
    border-radius: 10px 20px;
    margin-bottom: 8px;
    transition: 2000ms;
}

button:hover {
    background: linear-gradient(70deg, rgba(43, 103, 119, 0.37) 0%, rgba(200, 216, 228, 0.137) 80%);
}

#main_screen {
    margin: 0;
    float: left;
    width: 80%;
    background-color: #c8d8e483;
    height: 100%;
    width: 80%;
    transition: 0.5s;
    border-radius: 0px 0px 15px;
}

:hover {
    transition: 0.5s;
}