#portrait {
    float: right;
    margin: 2%;
    width: 30%;
    height: auto;
}

.spalte {
    width: fit-content;
    text-align: left;
    float: left;
    margin: 2%;
}

#main_screen {
    text-align: center;
}